<div class="container">
    <div class="search-container">
        <input type="text" 
        [(ngModel)]="searchTerm" 
        (input)="onSearch()" 
        placeholder="Rechercher un champion..." />
    </div>
    <div class="search-results">
        <div *ngIf="filteredChampions.length">
            <div *ngFor="let champion of filteredChampions">
                <mat-card class="card-champion" appearance="outlined" (click)="goToChampionDetail(champion)">
                    <mat-card-content>{{champion.name}} - {{ champion.title }}</mat-card-content>
                </mat-card>
            </div>
        </div>
        <p *ngIf="!filteredChampions.length && searchTerm">Aucun champion trouvé</p>
    </div>
</div>


